{% extends "base.html" %}

{% block title %} - {% endblock title %}

{% block content %}
<!-- post -->
<section class="post">
    <header>
        <h1>Ошибка 403</h1>
    </header>
    <article>
       <p>
            Как-то не понятно совсем, что к чему :( Все куда-то задевалось.. 
            Может вернуться <a href="{{ url_for('index') }}">на главную</a>? Или порыться в <a href="{{ url_for("page", path="archive") }}">Архиве</a>?
        </p>
    </article>
</section>
<!-- /post -->
{% endblock content %}