{% extends "base.html" %}

{% block title %}Записи автора {{ author }} - {% endblock title %}

{% block home_link %}
<a href="{{ url_for("index") }}" class="home"></a>
{% endblock %}

{% block content %}
<!-- posts_list -->
<section class="posts-list">
    <div class="author">
        <h3>Записи автора {{ author }}</h3>
        {% if author_info.photo %}
        <div class="photo">
            <img src="{{ author_info.photo }}" alt="{{ author_info.name }}">
        </div>
        {% endif %}
        <div class="info">
            {% if author_info.links %}
                <ul class="links">
                    {% for link in author_info.links %}
                        {% if link.icon %}
                            <a href="{{ link.url }}"><span class="icon {{ link.icon }}"></span></a>{% if loop.last %}{% else %}, {% endif %}
                        {% else %}
                            <a href="{{ link.url }}">{{ link.name }}</a>{% if loop.last %}{% else %}, {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if author_info.welcome %}
            <article>
                {{ author_info.welcome }}
            </article>
            {% endif %}
        </div>
    </div>
    <ul>
        {% for page in pages %}
        <li>
            <h1><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h1>
            <div class="meta">
                <i class="fa fa-clock-o"></i> {{ page.date }}
                {% if page.meta.tags|length %}
                    <i class="fa fa-tags"></i>
                    {% for page_tag in page.meta.tags %}
                        <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>{% if loop.last %}{% else %}, {% endif %}
                    {% endfor %}
                {% endif %}
                <i class="fa fa-user"></i> <a href="{{ url_for("author", author=page.author) }}">{{ page.author }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
<!-- /posts_list -->
{% endblock content %}
