{% extends "base.html" %}

{% block title %}Записи автора {{ author }} - {% endblock title %}

{% block home_link %}
<a href="{{ url_for("index") }}" class="home"></a>
{% endblock %}

{% block content %}
<!-- posts_list -->
<section class="posts-list">
    <h3>Записи автора {{ author }}</h3>
    <ul>
        {% for page in pages %}
        <li>
            <h1><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h1>
            <div class="meta">
                <i class="fa fa-clock-o"></i> {{ page.date }}
                {% if page.meta.tags|length %}
                    <i class="fa fa-tags"></i>
                    {% for page_tag in page.meta.tags %}
                        <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>{% if loop.last %}{% else %}, {% endif %}
                    {% endfor %}
                {% endif %}
                <i class="fa fa-user"></i> <a href="{{ url_for("author", author=page.author) }}">{{ page.author }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
<!-- /posts_list -->
{% endblock content %}
